<div class="container profile-page fullheight">

  <div class="personal-infos mt-5 d-flex flex-column align-items-center">
    <div class="avatar avatar-with-border mb-3">
      <%= cl_image_tag @user.photo.key, class: "avatar avatar-with-border"  %>
    </div>

    <div class="infos text-center mb-3">
      <h2>@<%= @user.username %></h2>

      <p class="follow mb-1">
        <% if (@user.followings.count - 1) <= 1 %>
          <strong><%= @user.followings.count - 1 %></strong> abonnement
        <% else %>
          <strong><%= @user.followings.count - 1 %></strong> abonnements
        <% end %>

        <span class="mx-2">|</span> <!-- Ajout de cet espace -->

        <% if (@user.followed_users.count - 1) <= 1 %>
          <strong><%= @user.followed_users.count - 1 %></strong> abonné
        <% else %>
          <strong><%= @user.followed_users.count - 1 %></strong> abonnés
        <% end %>
      </p>

      <% if current_user != @user %>
        <% if current_user.follow?(@user) %>
          <%= button_to "Ne plus suivre", unfollow_user_path, method: :patch, form: { class: "ta-classe-form" }, class: "ta-classe-css btn btn-danger mt-3"%>
        <% else %>
          <%= button_to "Suivre", follow_user_path, method:  :patch, form: { class: "ta-classe-form" }, class: "ta-classe-css btn btn-primary mt-3" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="reviews-title">
    <% if current_user == @user %>
      <h1>Mes avis <i class="fa-solid fa-star small-icon"></i></h1>
    <% else %>
      <h1>Ses avis <i class="fa-solid fa-star small-icon"></i></h1>
    <% end %>

    <%# <h1>Avis <i class="fa-solid fa-star small-icon"></i></h1> %>
    <h6 class="reviews-number"><%= @user.posts.count%> avis</h6>
  </div>

  <% @user.posts.each do |post| %>
    <div class="card">
      <%= link_to toi_path(post.toi), style: "text-decoration: none; color: inherit;" do %>
        <div class="infos justify-content-between w-100 ">
          <%= cl_image_tag post.toi.photo.key, height: 300, crop: :fill, class: "img-toi" %>

          <div class="reviews-info-profile">
            <div class="stars text-primary">
              <%= post.starify(post.rating).html_safe %>
            </div>

            <h3><%= post.toi.title  %></h3>

            <p class="sizing-review">« <%= post.review %> »</p>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>

</div>
