<li class="notif-followed border-bottom <%= "bg-primary bg-opacity-50" if !notif.read %>">
    <div class="d-flex full-notif align-items-center">
      <div class="avatar mt-1">
        <%= cl_image_tag post.user.photo.key, class: "avatar avatar-notif ms-1"  %>
      </div>
      <div class="notif text-dark">
        <%= link_to toi_path(post.toi, host: (ENV["DOMAIN"] || "localhost:3000")), class: "text-decoration-none text-dark lh-1" do %>
          <span class="me-1" style="font-weight: bold;"><%= post.user.username %></span>
          <span class="me-1">a publié sur</span>
          <span class="me-1" style="font-weight: bold;"><%= truncate(post.toi.title, length: 50) %></span>
        <% end %>
      </div>
    </div>
</li>
